body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	text-align: center;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	background-image: linear-gradient(
		to right,
		rgba(255, 0, 0, 0.5),
		rgba(255, 255, 0, 0.5)
		);
	position: absolute;
	width: 100%;
}


/*Input Container*/
.input-container {
	max-width: 400px;
	margin: 0 auto;
	position: relative;
}

input {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 20px;
	font-size: 18px;
	color: #232323;
	border: 1px solid #efefef;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
	transition: box-shadow .2s;
}

input::placeholder {
	color: #aaa;
	font-size: 16px;
}

input:focus {
	outline: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

ul {
	text-align: left;
	list-style-type: none;
	border: 1px solid #efefef;
	margin: 0;
	padding: 0;
	background-color: white;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
	will-change: opacity;
	animation: fade_in .5s;
	position: absolute;
	z-index: 1;
	width: 100%;
	max-height: 600px;
	overflow-y: auto;
}

li {
	background-color: white;
	padding: 10px 20px;
	font-size: 18px;
	transition: background-color 0.2s;
	cursor: pointer;
	color: #232323;
}

li.__item--active,
li:hover {
	background-color: #efefef;
}

.weather-card {
	animation: fade_in .5s;
}


.current-info {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 400px;
    margin: 0 auto;
}

.forecast {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	gap: 15px;
}

.forecast__item {
	background: rgba(255,255,255, .5);
	border-radius: 15px;
	color: #434343;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
	transition: box-shadow .5s;
	overflow: hidden;
}

.forecast__item:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.forecast__item .current-info {
	flex-direction: column;
	padding: 5px 20px 20px;
}

.current-condition {
	font-size: 24px;
	font-weight: bolder;
	flex: 1;
}

.current-temp {
	flex: 2;
}

.forecast__item .current-condition {
	font-size: 18px;
}

.temperature {
	font-size: 3em;
	line-height: 1;
	margin: 0 30px;
	position: relative;
}

.forecast__item .temperature {
	font-size: 50px;
	margin: 10px 20px;
}

.temperature::before {
	content: '\B0';
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: -15px;
    color: white;
}

.forecast__item .temperature::before {
	top: 3px;
	color: #434343;
}

.current-info span {
	font-size: 16px;
}

.current-range {
	flex: 1;
}

.range__high,
.range__low {
	font-size: 20px;
}

.forecast__item .range__high,
.forecast__item .range__low {
	font-size: 14px;
}

.forecast__item .date {
	background-color: #fff;
	width: 100%;
	margin: 0 0 10px;
	padding: 5px 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.button--toggle {
	border: none;
	padding: 5px 10px;
	font-size: 14px;
	background-color: white;
	border-radius: 14px;
}

.button--toggle:focus {
	outline: none;
}

.forecast-container h5 {
	margin-top: 50px;
	position: relative;
}

.forecast-container h5::before {
	content: '';
	background-color: rgba(255,255,255,.5);
	height: 1px;
	width: 100px;
	top: -25px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

@keyframes fade_in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100%;
	}
}
